.post-main-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 118px auto;
  gap: 15px;
}
.categories img {
  width: 30px;
}
.categories {
  position: relative;
  color: black;
  text-decoration: none;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px 3px 10px 3px;
}
.categories::after {
  content: "";
  position: absolute;
  background-color: black;
  height: 0%;
  width: 100%;
  left: 0;
  bottom: 0;
  transition: 0.4s ease-in-out;
  z-index: 0;
}
.categories:hover::after {
  height: 100%;
}
.categories img,
.categories h3 {
  position: relative;
  z-index: 1;
  transition: 0.6s;
}

.categories:hover img,
.categories:hover h3 {
  filter: invert(1);
}
.navigation {
  padding: 10px 0 10px 40px;
  margin: 0;
  list-style: none;
  border: 1px solid #ccc;
}
.navigation a {
  padding: 4px;
  color: black;
  text-decoration: none;
}
.navigation a:hover {
  text-decoration: underline;
}
