* {
  box-sizing: border-box;
}
.card {
  box-shadow: 0px 3px 4px 1px purple;
}
.img-container {
  position: relative;
}
.fav-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  cursor: pointer;
}
.img-container span {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
}
.card-body {
  padding: 10px;
  border-width: 1px 1px 0 1px;
  border-color: black;
  border-style: solid;
}
.card-body h3 {
  margin: 0;
}
.card-body p {
  margin-top: 4px;
  height: 55px;
  overflow: hidden;
}
.action-container {
  align-items: center;
  justify-content: space-between;
}
.share-icon {
  width: 20px;
  cursor: pointer;
}
.card-btn a {
  text-decoration: none;
  color: white;
}
.card-btn {
  color: white;
  background-color: #8a2be2;
  border: 0;
  padding: 10px;
  border-radius: 5px;
}
.post-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-column: 2 / span 3;
  gap: 15px;
}
