* {
  box-sizing: border-box;
}
.container.body-container {
  width: 800px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 15px;
  margin: auto;
}
.container.body-container div:last-child h2 {
  text-align: center;
}
.container.body-container div:last-child ul {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.container.body-container ul {
  padding-left: 70px;
}
.container.body-container input,
textarea {
  height: 32px;
  outline: none;
}
.container.body-container textarea {
  padding: 10px;
  height: 100px;
  resize: none;
}
.container.body-container button {
  background-color: #8a2be2;
  color: white;
  border: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-inline: 30px;
  border-radius: 6px;
  cursor: pointer;
}
.container.body-container h1,
h2 {
  margin-top: 0;
}
footer {
  margin-top: auto;
}
