.similar-title {
  display: none;
}
.similar-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 15px;
  padding-bottom: 20px;
}
.similar-container h2 {
  display: grid;
  grid-column: 1/5;
  text-align: center;
}
.post-img {
  aspect-ratio: 16 / 9;
  object-fit: fill;
}
.container.post-detail-container h2 {
  text-align: center;
}
