/* laptops */
@media screen and (max-width: 992px) {
  .container {
    width: 768px;
  }
}
/* tablets */
@media screen and (max-width: 768px) {
  .container {
    width: 576px;
  }
  .categories h3 {
    font-size: 13px;
    margin: 0;
  }
  .categories {
    padding: 10px;
  }
  .categories:first-child {
    grid-column: 1 / span 2;
  }
  .categories:nth-child(2) {
    grid-column: 3 / span 2;
  }
  .categories:nth-child(3) {
    grid-column: 1 / span 2;
  }
  .categories:nth-child(4) {
    grid-column: 3 / span 2;
  }
  .navigation {
    grid-column: 1 / span 4;
    display: flex;
    overflow: scroll;
    gap: 0 15px;
    overflow-y: hidden;
  }
  .blog-container {
    grid-column: 1 / span 4;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .blog-main-container {
    gap: 5px 0;
  }
}
/* mobiles */
@media screen and (max-width: 576px) {
  .blog-main-container {
    margin-top: 10px;
  }
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .blog-container {
    margin-bottom: 20px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .mobile-view {
    display: flex;
    color: white;
    cursor: pointer;
    gap: 0 10px;
    align-items: center;
  }
  .mobile-view img {
    width: 20px;
  }
  /* imis gamo rom heade nav-s qonda gawerili d-flex calke html-shi klasis saxelit da ara navze styleshi gadaawera display none - s*/
  header nav {
    display: none;
  }
  header nav.active {
    display: flex;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: aqua;
    left: 0;
    flex-direction: column;
    padding: 10px;
  }
  /* pirveli child nav.activis */
  header nav.active > div {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  /* meore divi nav.activishi shemavali bolo a linkis qveda borderi movashorot */
  header nav.active > div:last-child a:last-child {
    border-bottom: none;
  }
  header nav.active a {
    padding: 5px 0;
    border-bottom: 1px solid #ffffffbd;
  }
  /* > nishnavs rom headeris direct childs mimartavs (pirvels) igivea rac first child */
  header > .container {
    justify-content: space-between;
  }
  header {
    position: relative;
  }
}
