.gender {
  display: inline-block;
}
p {
  text-align: center;
  margin: 0;
}
.btn-link:hover {
  text-decoration: underline;
}
.signUp-input {
  height: 32px;
  border-width: 0 0 1px 0;
  outline: none;
}
