@import url(./card.css);
@import url(./color.css);

* {
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
header {
  background-color: var(--NeutralWhite);
}
.nav-logo-text {
  color: black;
  margin-top: 5px;
}
.nav-logo {
  text-decoration: none;
  font-weight: 600;
}
.nav-logo img {
  width: 30px;
}
.first-child {
  display: flex;
}
.user-container img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.nav-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px;
  justify-content: space-between;
}
.nav-head-child a {
  position: relative;
}
.nav-head-child a:after {
  content: "";
  position: absolute;
  background-color: black;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}
.nav-head-child a:hover::after {
  width: 100%;
}
.nav-head .nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-head .authorization {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}
.authorization a {
  margin-top: 5px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.nav-footer-child {
  font-weight: 600;
  display: flex;
  flex-direction: row;
}
.nav-footer a {
  position: relative;
  text-decoration: none;
  color: black;
  padding: 10px;
}
.nav-footer a::after {
  content: "";
  position: absolute;
  background-color: black;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: 1px;
  transition: 0.3s;
}
.nav-footer a:hover::after {
  width: 100%;
}
.nav-footer a:first-child {
  padding-left: 0;
}
.nav-footer a:last-child {
  padding-right: 0;
}
.user-container {
  display: none;
}
/* utility */
.mb-10 {
  margin-bottom: 10px;
}
.mb-5 {
  margin-bottom: 5px;
}
.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.w-100 {
  width: 100%;
}
.btn {
  cursor: pointer;
  text-decoration: none;
}
.ignore a::after {
  content: none;
}
/* featured container logic*/
.container {
  margin: auto;
  width: 1024px;
}
.body-container {
  padding: 30px 0;
  flex: 1;
}
/*footer  */
footer {
  border-top: black solid 1px;
  background-color: var(--NeutralWhite);
  text-align: center;
}
footer p {
  margin: 0;
  color: black;
  font-weight: 400;
  padding: 10px;
}
.favorite {
  position: relative;
}
.fav-amount {
  position: absolute;
  top: 3px;
  right: -10px;
  z-index: 1;
  color: white;
  background-color: black;
  width: 13px;
  height: 13px;
  text-align: center;
  border-radius: 50%;
  font-weight: 600;
  font-size: 12px;
}
