@import url(./card.css);
@import url(./color.css);

/* for body added min height, flex, flex-direction */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
header {
  height: 60px;
  background-color: hsl(271, 76%, 53%);
  align-items: center;
}
header .container {
  align-items: center;
}
.mobile-view {
  display: none;
}
nav {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 35px);
}
nav a {
  color: white;
  text-decoration: none;
  padding: 0 15px;
}
.nav-img {
  width: 35px;
}

/* utility */
.mb-10 {
  margin-bottom: 10px;
}
.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.w-100 {
  width: 100%;
}
.btn {
  cursor: pointer;
  text-decoration: none;
}

/* featured container logic added flex:1 to body-container*/

.container {
  margin: auto;
  width: 1024px;
}
.body-container {
  padding: 30px 0;
  flex: 1;
}

/*footer  */

footer {
  background-color: #8a2be2;
  text-align: center;
}
footer p {
  margin: 0;
  color: white;
  padding: 10px;
}

/* reset password */

.pass-container {
  margin: auto;
  width: 300px;
  border: 1px solid #ccc;
  box-shadow: 0px 3px 4px 1px purple;
  padding: 20px;
  border-radius: 5px;
}
.pass-container h1 {
  text-align: center;
}
.btn-reset {
  background-color: #8a2be2;
  color: white;
  border: 0;
  padding: 10px;
  border-radius: 5px;
}
.pass-input {
  height: 32px;
  outline: none;
  margin-bottom: 10px;
}
