@import url(./card.css);
@import url(./color.css);

* {
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
header {
  background-color: var(--NeutralWhite);
}
.nav-logo-text {
  color: black;
  margin-top: 5px;
}
.nav-logo {
  text-decoration: none;
  font-weight: 600;
}
.nav-logo img {
  width: 30px;
}
.first-child {
  display: flex;
}
.user-container img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.nav-head {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}
.nav-head .nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-head .authorization {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}
.authorization a {
  margin-top: 5px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.nav-footer {
  padding: 10px;
}
.nav-footer-child {
  display: flex;
  flex-direction: row;
  font-weight: 600;
}
.nav-footer a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
.nav-footer a:first-child {
  padding-left: 0;
}
.nav-footer a:last-child {
  padding-right: 0;
}
.user-container {
  display: none;
}
/* utility */
.mb-10 {
  margin-bottom: 10px;
}
.mb-5 {
  margin-bottom: 5px;
}
.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.w-100 {
  width: 100%;
}
.btn {
  cursor: pointer;
  text-decoration: none;
}
/* featured container logic*/
.container {
  margin: auto;
  width: 1024px;
}
.body-container {
  padding: 30px 0;
  flex: 1;
}
/*footer  */
footer {
  border-top: black solid 1px;
  background-color: var(--NeutralWhite);
  text-align: center;
}
footer p {
  margin: 0;
  color: black;
  font-weight: 400;
  padding: 10px;
}
