.nav-footer a:nth-child(3) {
  text-decoration: 3px underline;
}
.accordion-container {
  border: 1px solid #ccc;
  border-bottom: none;
}
.active-img {
  transition: 0.5s ease-in-out;
  width: 15px;
}
.accordion-item.active .active-img {
  transform: rotate(180deg);
}
.active-img:hover {
  cursor: pointer;
  transform: rotate(180deg);
}
.accordion-header {
  justify-content: space-between;
  font-size: 32px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-inline: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.accordion-header:hover {
  cursor: pointer;
  background-color: #ccc;
}
.accordion-body {
  font-size: 20px;
  padding-inline: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: none;
  border-bottom: 1px solid #ccc;
}
.accordion-body.active {
  display: block;
}
